.pick {
    background-color: red !important;
}

.border_top {
    border-top: 1px solid black !important;
}

.bg-title {
    background-color: rgb(54, 64, 122) !important;
    color: white !important
}

.card {
    background-color: white;
    padding: 20px;
    width: 200px;
    border-radius: var(--radius-2);
    border: var(--border-size-2) solid var(--gray-4);
    cursor: pointer;
    transition: all .3s;
    position: relative;
    word-wrap: break-word;
}

.active {
    background: rgb(255, 255, 255);
    border: var(--border-size-2) solid var(--gray-8);
    cursor: default;
    transform: translateY(-5px);
}

.toolbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
}

.tool-item,
.tool-item-child {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 99999px;
    background-color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #333;
}

.text-bold {
    font-weight: 700;
}